doctype html
html 
    head 
        link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css", integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3", crossorigin="anonymous")
        script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js", integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p", crossorigin="anonymous")
    body 
        h1 HTML Template Using Pug!! 
        p This is a paragraph line
        p. 
            This is a paragraph
            line in two lines.
        ul 
            li Pug one pug
            li Pug two pug
            li Pug three pug
        h1#pageTitle Page Title with ID value!
        p.parag-class. 
            Paragraph with a Class value!
        .container.bg-primary
            p paragraph inside a Div 
        #div-Id 
            p paragraph inside another Div
        
        div 
            input(type="password" name="inputPasswordName" placeholder=`${ 2 > 3 ? "Placeholder1" : "Placeholder2"}`)
        
        - const jsArray = ["Jhon", "Sara", "David"]
        div.my-div(class )